@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body,
#root {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  min-width: 100%;
}

div.App {
  display: flex;
  flex-direction: column;
}

div.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0 30px 0;
  max-width: 100%;
}

div.search label {
  color: #6d6969d2;
}

div.search div.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 10px;
  margin-top: 40px;
  max-width: 450px;
  box-shadow: 3px 10px 30px #bebcbca6;
}

div.search-input .search-bar {
  border: none;
  background-color: white;
  box-sizing: border-box;
  max-width: 400px;
  height: 50px;
  margin-left: 6px;
  padding: 0 10px;
  color: #6d6969d2;
  font-size: 18px;
  font-weight: 400;
  -webkit-appearance: none;
}

@media (max-width: 480px) {
  div.search-input {
    margin: auto;
  }
  .search-bar {
    margin: 0 auto 0 6px ;
    width: 80%;
  }
}
